/*reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* custom properties */
:root {
  --bg-dark: rgb(37, 41, 58);
  --bg-btn: rgb(81, 117, 255);
  --bg-btn-hover: rgb(130, 156, 255);
  --clr-title: rgb(51, 57, 80);
  --clr-text: rgb(116, 123, 149);
  --clr-danger: rgb(240, 91, 91);
  --fs-h1: 3.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1rem;
  --fs-text: 1rem;
  --lh-h1: 4rem;
  --lh-h2-text: 1.75rem;
  --lh-h3: 3rem;
  --fw-regular: 400;
  --fw-bold: 700;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: 'Kumbh Sans', sans-serif;
}

.body-index {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 70%, rgba(37, 41, 58, 1) 30%);
}

h1,
h2,
h3 {
  color: var(--clr-title);
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2-text);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}

p {
  font-size: var(--fs-text);
  line-height: var(--lh-h2-text);
  color: var(--clr-text);
  font-weight: var(--fw-regular);
}
/**** img top body ****/
.bg-pattern-body {
  position: absolute;
  top: -26.2rem;
  right: -21.8rem;
  z-index: -1;
}

/****Container****/
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

/****Header****/
header {
  margin-top: 5rem;
}

/**** section hero  ****/
.hero {
  display: flex;
  align-items: center;
  margin-top: 6.3rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-right: 5.9rem;
}

.hero-content-title {
  display: flex;
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--clr-title);
  font-weight: var(--fw-bold);
}

.hero-content-description {
  display: flex;
  margin: 1.5rem 0 2rem 0;
  font-size: 1.125rem;
}

.hero-link {
  width: 171px;
  text-align: center;
  background-color: var(--bg-btn);
  color: rgb(255, 255, 255);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  padding: 1rem 2.2rem 1rem 2.2rem;
  border: 0 solid;
  border-radius: 28px;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  text-decoration: none;
}

.hero-link:hover {
  background-color: var(--bg-btn-hover);
}

/****Section modal price****/
.modal-price {
  display: flex;
  justify-content: space-between;
  margin-top: 11.5rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem 4rem 2.5rem 4rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
}

.features.middle {
  position: relative;
  background-color: rgb(81, 117, 255);
  overflow: hidden;
  z-index: 0;
}

.features.middle > img {
  position: absolute;
  top: -26.5rem;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.features.middle .color {
  color: rgb(255, 255, 255);
}

.features > h2 {
  margin-bottom: 2.5rem;
}

.f-content {
  display: flex;
  flex-direction: column;
}

.f-price > p {
  color: var(--clr-title);
}

.f-options {
  margin: 3.5rem 0 2rem 0;
}

.f-links {
  width: 171px;
  background-color: rgba(81, 117, 255, 0.15);
  color: var(--bg-btn);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  padding: 1rem 2.2rem 1rem 2.2rem;
  border: 0 solid;
  border-radius: 28px;
  text-decoration: none;
}

.f-links:hover {
  background-color: rgba(81, 117, 255, 0.25);
}

.f-links.middle-color {
  background-color: rgb(255, 255, 255);
}

.f-links.f-links.middle-color:hover {
  color: var(--bg-btn-hover);
}

/**** Footer ****/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 3.5rem 0;
}

.footer-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: var(--lh-h3);
}

.title-date {
  color: var(--bg-btn);
}

.footer-timer {
  display: flex;
}

.timer-units {
  width: 6.18rem;
  text-align: center;
  padding: 1rem 1rem 0.8rem 1rem;
  background-color: rgb(51, 57, 80);
  border-radius: 13px;
}

.timer-units > p {
  font-weight: bold;
}

.timer-units:not(:nth-child(1)) {
  margin-left: 1rem;
}

.timer {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.footer-link {
  width: 171px;
  text-align: center;
  background-color: var(--bg-btn);
  color: rgb(255, 255, 255);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  padding: 1rem 2.2rem 1rem 2.2rem;
  border: 0 solid;
  border-radius: 28px;
  text-decoration: none;
}

.footer-link:hover {
  background-color: var(--bg-btn-hover);
}

/**** img bottom body ****/
.bg-pattern-footer-body {
  position: absolute;
  z-index: -2;
  top: 37.5rem;
  left: -43.8rem;
}

@media all and (max-width: 1260px) {
  .body-index {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 58%, rgba(37, 41, 58, 1) 42%);
  }

  /**** img top body ****/
  .bg-pattern-body {
    width: 900px;
    min-height: 900px;
    top: -18rem;
    right: -20rem;
  }

  .container {
    width: 90%;
  }

  .hero-content {
    margin-right: 2rem;
  }

  .hero-content-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .hero-img {
    min-height: 480px;
    width: 420px;
  }

  /****Section modal price****/
  .modal-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8.75rem;
    align-items: center;
  }

  .features {
    padding: 3rem 3rem 3rem 3rem;
    align-items: flex-start;
    width: 80%;
  }

  .features > h2 {
    margin-bottom: 1rem;
  }

  .features.middle {
    margin: 1.5rem 0 1.5rem 0;
  }

  .features.middle > img {
    position: absolute;
    top: 50%;
    left: 7.7rem;
    transform: translate(-50%, -50%);
  }

  .f-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: start;
  }

  .f-price {
    width: 50%;
  }

  .f-options {
    margin: 0rem 0 0rem 0rem;
    padding-left: 2rem;
    width: 50%;
  }

  .f-options p:nth-child(2) {
    margin: 1rem 0 1rem 0;
  }

  /****Footer****/
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 6.25rem 0 6.25rem 0;
  }

  .footer-timer {
    margin: 0.5rem 0 3rem 0;
  }

  /**** img bottom body ****/
  .bg-pattern-footer-body {
    position: absolute;
    z-index: -2;
    top: 68rem;
    left: 50%;
    transform: translate(-50%);
  }
}

/**** Sign-up.html ****/
.html-sign-up {
  overflow: visible;
}

.body-sign-up {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(37, 41, 58, 1) 30%);
  position: relative;
}

.body-bg {
  position: absolute;
  top: -48.5rem;
  right: -53rem;
  z-index: -2;
}

section.hero {
  /* margin-bottom: 13rem; */
}

.hero-content-sign-up {
  width: 60%;
}

.sign-up-timer {
  padding-top: 1rem;
}

.sign-up-title {
  color: rgb(51, 57, 80);
}

.timer-units-color {
  background-color: rgba(81, 117, 255, 0.1);
}

.timer-units-color > p {
  opacity: 0.5;
}

.timer-color {
  color: rgb(81, 117, 255);
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 7.8rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  padding: 40px 42px 51px 43px;
}

input {
  border: none;
  color: rgba(116, 123, 149, 0.5);
  font-size: 1rem;
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
  padding: 0 0 1rem 1rem;
}

input:not(:nth-child(1)) {
  margin-top: 1.5rem;
}

input:focus {
  outline: none;
}

input:invalid {
  position: relative;
  border-bottom: 1px solid rgba(240, 91, 91, 1);
  background-image: url('../img/sign-up/icon-cross.svg');
  background-position: right;
  background-repeat: no-repeat;
}

details {
  position: relative;
  cursor: pointer;
}

.pack {
  font-weight: var(--fw-bold);
  margin-right: 0.5rem;
}

.pack-price {
  font-weight: var(--fw-bold);
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
  padding: 1.5rem 0 1rem 1rem;
}

.form-menu-title {
  display: flex;
  align-items: center;
}

.form-menu-title > span {
  margin-right: 0.5rem;
}

.form-menu[open] .form-arrow {
  transition: 0.6s;
  transform: rotate(180deg);
}

.form-arrow {
  transition: 0.6s;
  transform: rotate(0deg);
}

.list-content {
  position: absolute;
  width: 100%;
  margin-top: 0.5rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(51, 57, 80, 0.153273);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
  border-radius: 8px;
}

.list {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.list:not(:nth-child(3)) {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(116, 123, 149, 0.25);
}

.list:not(:nth-child(1)) {
  margin-top: 1rem;
}

.list.active {
  position: relative;
}

.list.active::after {
  content: url('../img/sign-up/icon-check.svg');
  position: absolute;
  right: 0%;
}

.form-link {
  margin-top: 2.5rem;
  text-align: center;
  background-color: var(--bg-btn);
  color: rgb(255, 255, 255);
  font-weight: var(--fw-bold);
  font-size: 1rem;
  padding: 1.2rem 2.2rem 1.2rem 2.2rem;
  border: 0 solid;
  border-radius: 28px;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  text-decoration: none;
}

.form-link:hover {
  background-color: var(--bg-btn-hover);
}
